.crisis-wrapper {
    width: 100%;
}

.crisis-wrapper > select {
    font-size: 12pt;
    height: 40px;
    width: 75%;
    color: white;
    border-color: white;
    border-radius: 5px;
    background-color: transparent;
}

.crisis-wrapper > select:hover {
    cursor: pointer;
}