@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');

.title {
    background-color: black;
    font-family: 'Newsreader';
    color: white;
    position: absolute;
    z-index: 1;
}