@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');

.title {
    font-family: 'Newsreader';
    color: rgba(255, 255, 255);
    position: absolute;
    z-index: 1;
}

.splash-text {
    font-family: 'Newsreader';
    z-index: 1;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 5%;
}

.content-category {
    font-family: 'Newsreader';
    z-index: 1;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 10%;
}