.overlay {
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    width: 310px;
    height: 350px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
    /* this is the animation part */
    transition:max-height 0.3s ease-out;
}

.overlay.collapsed {
    max-height: 600px;
}

.overlay > h1 {
    color: white;
    opacity: 0.9;
    padding: 10px;
    margin: 0%;
}

.intro > p {
    text-justify: distribute;
    padding: 0%;
    margin: 0%;
}

.intro {
    color: white;
    padding: 0%;
    margin: 0%;
}