#click {
    position: relative;
   display:grid;
    background-color: none;
    border:100px;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 100px;
    margin-top: -200px;
    color:white;
    


    
   

    
    
    
}

/* .back{
    background-image: url('//unpkg.com/three-globe/example/img/night-sky.png');
    margin-top:-50px;
    padding-top: 50px;
} */