

#click {
    position: relative;
   display:grid;
    background-color: rgba(255, 255, 255, 0.38);
    border:100px;
    margin-left: 75%;
    margin-right:5%;
    border-radius: 50px;
    margin-top: -300px;
  
    color:black;
    padding:-100px;
    /* padding-top: 30px; */
    font-weight: bolder;
    


    
   

    
    
    
}

/* .back{
    background-image: url('//unpkg.com/three-globe/example/img/night-sky.png');
    margin-top:-50px;
    padding-top: 50px;
} */